.border {
  border: 1px solid #ddd;
}
.border-0 {
  border: none;
}

.rounded {
  border-radius: 4px;
}
.rounded-full {
  border-radius: 9999px;
}

.border-primary {
  border-color: var(--primary-color);
}
