.m-0 {
  margin: 0;
}
.mt-8 {
  margin-top: 8px;
}

.p-0 {
  padding: 0;
}
.p-4 {
  padding: 0.25em;
}
.p-8 {
  padding: 0.5em;
}
.p-16 {
  padding: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 0.75em;
}
