.text-sm {
  font-size: 12px;
}
.text-lg {
  font-size: 20px;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primary-color);
}

.font-14 {
  font-size: var(--font-14);
}
